footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    padding-bottom: 0;
    background-image: linear-gradient( rgb(16, 138, 87), rgb(0, 37, 51) );
    color: blanchedalmond;
    font-family: 'Nunito', sans serif;
    width: 100vw;

}
.flexFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.btn_social {
    padding-right: 0.6rem;
    color: blanchedalmond;
}
 