*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Nunito', sans-serif;
    background-image: url('./fondo.jpg');
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size:auto;
}
a {
    text-decoration: none;
}
li {
    margin: 1.3rem;
}
