header {
    color: blanchedalmond;
    font-family:'Nunito', sans-serif;
    font-size: 110%; 
    background-color: rgb(0, 0, 0);
    height: auto;
    width: 100vw;
    margin-bottom: 2rem;
        p{
            margin: 0;
        }
    }
    .navPadding {
        padding-left: 0.5rem;
    }
    